.modal_top {
  border-radius: 5px 5px 0 0;
  position: relative;
  p {
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 14px;
  }
  background-color: #eee;
  &__close {
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    right: 1.5rem;
    top: 0.5rem;
    color: $color-grey-dark;
    &:hover {
      color: $color-black;
    }
  }
}

.modal_container {
  .modal_wrap {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    width: 40%;
    @include respond(phone) {
      width: 95%;
    }
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__children {
      @include respond(phone) {
        width: 95%;
      }
    }
  }
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  transition: opacity 0.3s;
  right: 0;
  bottom: 0;
}

.mast {
  background-color: #000;
  z-index: 9999;
}
