.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 1.2rem;
    height: 3.2rem;
    text-align: center;
    margin: auto 0.4rem;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 1.6rem;
    line-height: 1.43;
    font-size: 1.3rem;
    min-width: 3.2rem;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-right: 0.12rem solid rgba(0, 0, 0, 0.87);
        border-top: 0.12rem solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12rem solid rgba(0, 0, 0, 0.43);
        border-top: 0.12rem solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
