.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
  &__arrow-up {
    width: 0;
    height: 0;
    border-left: 1.6rem solid transparent;
    border-right: 1.6rem solid transparent;

    border-bottom: 1.6rem solid $color-grey-dark-2;
    @include respond(phone) {
      border-left: 0.8rem solid transparent;
      border-right: 0.8rem solid transparent;

      border-bottom: 0.8rem solid $color-grey-dark-2;
    }
  }

  &__arrow-down {
    width: 0;
    height: 0;
    border-left: 1.6rem solid transparent;
    border-right: 1.6rem solid transparent;

    border-top: 1.6rem solid $color-grey-dark-2;
    margin-top: 0.5rem;
    @include respond(phone) {
      border-left: 0.8rem solid transparent;
      border-right: 0.8rem solid transparent;

      border-top: 0.8rem solid $color-grey-dark-2;
    }
  }
}
