.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.company {
  table {
    border-collapse: collapse;

    border: 1px solid $color-grey-dark-2;
  }
  &__employees {
    padding: 1rem;
    &__search {
      display: flex;
      justify-content: flex-end;
      &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem 1.5rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: 0.2rem solid $color-grey-dark-2;
        // border-bottom: 3px solid transparent;
        max-width: 40rem;
        min-width: 20rem;
        display: block;
        transition: all 0.3s;

        @include respond(tab-port) {
          width: 100%;
        }

        &:focus {
          outline: none;
          // box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
          border: 0.2rem solid $color-tertiary-light;
        }

        &:focus:invalid {
          border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
          color: $color-grey-dark-2;
        }
      }
      &__button {
        margin-left: 0.5rem;
        &,
        &:link,
        &:visited {
          text-transform: capitalize;
          text-decoration: none;
          padding: 1rem 2rem;
          display: inline-block;
          transition: all 0.2s;
          position: relative;
          font-size: $default-font-size;

          border: none;
          cursor: pointer;
        }
        &:hover {
          background-color: $color-tertiary-light;
          color: $color-white;
          box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
          transform: translateY(-2px);
        }

        &:active {
          box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
          transform: translateY(0);
        }
      }
    }
    &__count {
      font-size: 2rem;
      font-weight: 200;
    }
    &__table-container,
    &__table {
      width: 100%;
    }
    &__table-container {
      margin-top: 1rem;
    }
    &__table {
      &__row {
        &:hover {
          cursor: pointer;
          background-color: rgba($color-black, 0.15);
        }
      }
      &__row-active {
        background-color: rgba($color-tertiary-light, 0.15);
      }
      &__title {
        text-align: center;
        font-size: 2rem;
        @include respond(phone) {
          font-size: 1.5rem;
        }
        font-weight: 400;
        border-bottom: 1px solid $color-black;
        border-right: 1px solid $color-black;
        padding: 1rem;
        &__wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__text {
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__data {
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
    }
    &__name {
      display: flex;
      align-items: center;
      @include respond(phone) {
        flex-direction: column;
      }
      &__avatar {
        margin-right: 0.5rem;
        height: 5rem;
        @include respond(phone) {
          margin-right: 0;
          margin-bottom: 0.5rem;
          height: 2rem;
        }
      }
    }

    &__employee {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2rem;

      &__left,
      &__right {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
      &__left {
        flex: 1 1 35%;
        &__image {
          display: block;
          height: 6rem;
        }
        &__job-title {
          font-size: 1.5rem;
        }
        &__age,
        &__date-joined {
          font-size: 1.5rem;
          font-weight: 300;
          margin-top: 0.5rem;
        }
      }
      &__right {
        flex: 1 1 65%;
        margin-top: 3rem;
        &__name {
          font-size: 2rem;
          padding-bottom: 1rem;
          border-bottom: 0.2rem solid $color-grey-dark-2;
        }
        &__bio {
          padding-top: 1rem;
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
    }

    &__pagination {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
