.company {
  &__header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: $border-bottom;
    &__company-name {
      font-size: 3.5rem;
    }
    &__motto-est {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
      &__item {
        font-size: 2rem;
        font-weight: 200;
      }
    }
  }
}
